<!DOCTYPE html>
<html>
<head>
<title>Access Cluster</title>

</head>

<body style="background-color:cornsilk;">
    <div style="text-align: center;">
        <a href="{% url 'index' %}"><h1>Kubernetes Client</h1></a>
        <hr>
    </div>

    <div style="text-align: center;">
        <span style="color: blueviolet;font-size:30px;"> 
    
            <a href="{% url 'KubrnetesCrud-getcontexts' %}">Context</a>
            <a href="{% url 'KubrnetesCrud-contextname' %}">Namespaces </a>
            Deployments 
            Pods
            Describe
        </span>
        <hr>
    </div> 
         
    
</body>

</html>